/* Body */
body {
	font: 13px Helvetica, Arial, sans-serif;
	font-weight: 300;
	padding: 0;
	padding-bottom: 10px;
	margin: 0;
	background-color: black;
}

/* Headings */
h1, h2 {
	margin: 0;
	padding: 30px;
}

h1{
	text-align: center;
	color: white;
}

info-bar {
	
	/* font: 13px Helvetica, Arial, sans-serif; */
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
	display: block;
	width: 1000px;
	height: 40px;
	background-color: black;
}

info-bar level, score, time {
    width: 250px;
    vertical-align: center;
    display: inline-block;
    padding-left: 30px;
    padding-top: 10px;
    color: white;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    display: block;
    width: 1000px;		/* redundant? */
    height: 640px;		/* redundant? */			
    
    background-color: black;
}

game-overlay {
    width: 1000px;		
	display: block;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;      
}


.playbutton, .pausebutton {
	display: none;						/* by default hide these until game starts */
}


.startbutton {
	position: relative;
	border: 1px solid white;
	width: 150px;
	height: 50px;
	background-color: black;
	color: white;
	left: 44%;
    top: -200px;
}

.startbutton:hover{
	background-color: white;
	color: black;
}

.nextbutton {
	position: relative;
	visibility: hidden;
	display: block;
	border: 1px solid white;
	width: 150px;
	height: 50px;
	background-color: black;
	color: white;
	left: 44%;
    top: -300px;
}

.nextbutton:hover{
	background-color: white;
	color: black;
}

.finishbutton {
	position: relative;
	visibility: hidden;
	display: block;
	border: 1px solid white;
	width: 150px;
	height: 50px;
	background-color: black;
	color: white;
	left: 44%;
    top: -300px;
}

.finishbutton:hover {
	background-color: white;
	color: black;
}

pause-overlay {
	display: none;	/* by default this is not displayed */
	position: relative;
	float: none;
	left: 40%;
    top: -500px;
	font: 20pt "Courier New";
	color: white;
	border: 1px dotted #325FA2;
	padding: 20px;
		/* height: 640px; */
}